//Text

//breakpoints
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

// Bootstrap's Media Breakpoints
// $screen-sm-min: 768px;
// $screen-md-min: 992px;
// $screen-lg-min: 1200px;
