.ivd-icons-grid {
  h2 {
    text-align: center;
    padding: 64px 0 0 0;
  }
  &__grid {
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
    .row {
      justify-content: center;
    }
  }
  &__item {
    // width: 33.33%;
    margin-bottom: 60px;
  }
  &__item-inner {
    padding: 0 0px;
    text-align: center;
  }
  &__icon-container {
    margin-bottom: 20px;
    min-height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      max-height: 70px;
    }
  }
  h3 {
    font-size: 25px;
    margin-bottom: 20px;
  }
  &__item-text {
    font-size: 20px;
  }
}
